Datos/Service References/SrvSolucioname/Entidades.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Operador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Backoffice" type="tns:BackofficeType" />
      <xs:element minOccurs="0" name="Breaks" nillable="true" type="tns:ArrayOfWorkTime" />
      <xs:element minOccurs="0" name="DNI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:AvailabiltyStatus" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkingDayTime" nillable="true" type="tns:WorkTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Operador" nillable="true" type="tns:Operador" />
  <xs:simpleType name="BackofficeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Operator" />
      <xs:enumeration value="BackofficeAndOperator" />
      <xs:enumeration value="OnlyBackoffice" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BackofficeType" nillable="true" type="tns:BackofficeType" />
  <xs:complexType name="ArrayOfWorkTime">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkTime" nillable="true" type="tns:WorkTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkTime" nillable="true" type="tns:ArrayOfWorkTime" />
  <xs:complexType name="WorkTime">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkTime" nillable="true" type="tns:WorkTime" />
  <xs:simpleType name="AvailabiltyStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Disconnected" />
      <xs:enumeration value="Connected" />
      <xs:enumeration value="ReadyToReceive" />
      <xs:enumeration value="Break" />
      <xs:enumeration value="Bath" />
      <xs:enumeration value="SpecialTask" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AvailabiltyStatus" nillable="true" type="tns:AvailabiltyStatus" />
  <xs:complexType name="Asunto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actuacion" nillable="true" type="tns:Actuacion" />
      <xs:element minOccurs="0" name="AssignmentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DescripcionBreve" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estados" nillable="true" type="tns:ArrayOfEstado" />
      <xs:element minOccurs="0" name="GrupoDerivado" nillable="true" type="tns:GrupoResolutor" />
      <xs:element minOccurs="0" name="LoadedOnSolucionameDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oper" nillable="true" type="tns:Operador" />
      <xs:element minOccurs="0" name="Reportable" type="xs:boolean" />
      <xs:element minOccurs="0" name="SendingDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Asunto" nillable="true" type="tns:Asunto" />
  <xs:complexType name="Actuacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estados" nillable="true" type="tns:ArrayOfEstado" />
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="tns:GrupoResolutor" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operador" nillable="true" type="tns:Operador" />
      <xs:element minOccurs="0" name="RemedyRelacionado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="tns:ActuacionTipo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Actuacion" nillable="true" type="tns:Actuacion" />
  <xs:complexType name="ArrayOfEstado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Estado" nillable="true" type="tns:Estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstado" nillable="true" type="tns:ArrayOfEstado" />
  <xs:complexType name="Estado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Detalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaHora" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Ord" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="tns:TipoEstado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estado" nillable="true" type="tns:Estado" />
  <xs:complexType name="TipoEstado">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorteCiclo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gestion" nillable="true" type="tns:Gestion" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InicioHabilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="RelacionesPermitidas" nillable="true" type="tns:ArrayOfTipoEstado" />
      <xs:element minOccurs="0" name="RequiereActuacion" type="tns:TipoEstado.SolicitaActuacion" />
      <xs:element minOccurs="0" name="RequiereDetalle" type="xs:boolean" />
      <xs:element minOccurs="0" name="Unico" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoEstado" nillable="true" type="tns:TipoEstado" />
  <xs:complexType name="Gestion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Gestion" nillable="true" type="tns:Gestion" />
  <xs:complexType name="ArrayOfTipoEstado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoEstado" nillable="true" type="tns:TipoEstado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoEstado" nillable="true" type="tns:ArrayOfTipoEstado" />
  <xs:simpleType name="TipoEstado.SolicitaActuacion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="No" />
      <xs:enumeration value="Si" />
      <xs:enumeration value="SiPredeterminado" />
      <xs:enumeration value="Obligatoria" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoEstado.SolicitaActuacion" nillable="true" type="tns:TipoEstado.SolicitaActuacion" />
  <xs:complexType name="GrupoResolutor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="tns:ActuacionTipo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GrupoResolutor" nillable="true" type="tns:GrupoResolutor" />
  <xs:complexType name="ActuacionTipo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActuacionTipo" nillable="true" type="tns:ActuacionTipo" />
  <xs:complexType name="ArrayOfAsunto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Asunto" nillable="true" type="tns:Asunto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAsunto" nillable="true" type="tns:ArrayOfAsunto" />
  <xs:complexType name="ArrayOfOperador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Operador" nillable="true" type="tns:Operador" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperador" nillable="true" type="tns:ArrayOfOperador" />
</xs:schema>