Datos/Service References/SrvSolucioname/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="Conectar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="oper" nillable="true" type="q1:Operador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConectarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConectarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectBackoffice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="oper" nillable="true" type="q2:Operador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectBackofficeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ConnectBackofficeResult" nillable="true" type="q3:Operador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="oper" nillable="true" type="q4:Operador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarComando">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="oper" nillable="true" type="q5:Operador" />
        <xs:element minOccurs="0" name="strCommand" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsuntoReceiptCompleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="asuntoToConfirm" nillable="true" type="q6:Asunto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchAsuntoReceiptCompleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="lstAsuntoToConfirm" nillable="true" type="q7:ArrayOfAsunto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SentAsuntoToOperator">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="prmOperatorBackoffice" nillable="true" type="q8:Operador" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="prmAsunto" nillable="true" type="q9:Asunto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SentBatchOfAsuntosToOperator">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="prmOperatorBackoffice" nillable="true" type="q10:Operador" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="lstA" nillable="true" type="q11:ArrayOfAsunto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOperatorList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getOperatorListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="getOperatorListResult" nillable="true" type="q12:ArrayOfOperador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListOfOperatorMustWorkToday">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListOfOperatorMustWorkTodayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="getListOfOperatorMustWorkTodayResult" nillable="true" type="q13:ArrayOfOperador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAssignedAsuntosOfCurrentDay">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAssignedAsuntosOfCurrentDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="getAssignedAsuntosOfCurrentDayResult" nillable="true" type="q14:ArrayOfAsunto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUnassignedAsuntos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUnassignedAsuntosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="getUnassignedAsuntosResult" nillable="true" type="q15:ArrayOfAsunto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="operatorToChange" nillable="true" type="q16:Operador" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="paramNewStatus" type="q17:AvailabiltyStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsServiceActive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isBackoffice" type="xs:boolean" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="prmOperator" nillable="true" type="q18:Operador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsServiceActiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsServiceActiveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarAsunto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="a" nillable="true" type="q19:Asunto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SentAsuntosBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="lstA" nillable="true" type="q20:ArrayOfAsunto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsuntoProcessCompleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="a" nillable="true" type="q21:Asunto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchAsuntoProcessCompleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="lstA" nillable="true" type="q22:ArrayOfAsunto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceDisconnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceChangeStatusRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="paramNewStatus" type="q23:AvailabiltyStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshOperatorStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyNewAsuntoFromSolucioname">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOnAsuntosWithoutAssignation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsActive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsActiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsActiveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>