Datos/Service References/SrvSolucioname/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="Conectar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="oper" nillable="true" type="q1:Operador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConectarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConectarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectBackoffice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="oper" nillable="true" type="q2:Operador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectBackofficeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ConnectBackofficeResult" nillable="true" type="q3:Operador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="oper" nillable="true" type="q4:Operador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarComando">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="oper" nillable="true" type="q5:Operador" />
        <xs:element minOccurs="0" name="strCommand" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsuntoReceiptCompleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="asuntoToConfirm" nillable="true" type="q6:Asunto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOperatorList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getOperatorListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="getOperatorListResult" nillable="true" type="q7:ArrayOfOperador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListOfOperatorMustWorkToday">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListOfOperatorMustWorkTodayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="getListOfOperatorMustWorkTodayResult" nillable="true" type="q8:ArrayOfOperador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="operatorToChange" nillable="true" type="q9:Operador" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="paramNewStatus" type="q10:AvailabiltyStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsServiceActive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsServiceActiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsServiceActiveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarAsunto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="a" nillable="true" type="q11:Asunto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceDisconnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceChangeStatusRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="paramNewStatus" type="q12:AvailabiltyStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsActive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsActiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsActiveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>