Datos/Service References/SrvSolucioname/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Servicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="DualTCPBinding_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="1200000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicio_Conectar_InputMessage">
    <wsdl:part name="parameters" element="tns:Conectar" />
  </wsdl:message>
  <wsdl:message name="IServicio_Conectar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConectarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ConnectBackoffice_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectBackoffice" />
  </wsdl:message>
  <wsdl:message name="IServicio_ConnectBackoffice_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectBackofficeResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IServicio_EjecutarComando_InputMessage">
    <wsdl:part name="parameters" element="tns:EjecutarComando" />
  </wsdl:message>
  <wsdl:message name="IServicio_AsuntoReceiptCompleted_InputMessage">
    <wsdl:part name="parameters" element="tns:AsuntoReceiptCompleted" />
  </wsdl:message>
  <wsdl:message name="IServicio_SentAsuntoToOperator_InputMessage">
    <wsdl:part name="parameters" element="tns:SentAsuntoToOperator" />
  </wsdl:message>
  <wsdl:message name="IServicio_SentBatchOfAsuntosToOperator_InputMessage">
    <wsdl:part name="parameters" element="tns:SentBatchOfAsuntosToOperator" />
  </wsdl:message>
  <wsdl:message name="IServicio_getOperatorList_InputMessage">
    <wsdl:part name="parameters" element="tns:getOperatorList" />
  </wsdl:message>
  <wsdl:message name="IServicio_getOperatorList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOperatorListResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_getListOfOperatorMustWorkToday_InputMessage">
    <wsdl:part name="parameters" element="tns:getListOfOperatorMustWorkToday" />
  </wsdl:message>
  <wsdl:message name="IServicio_getListOfOperatorMustWorkToday_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListOfOperatorMustWorkTodayResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_getAssignedAsuntosOfCurrentDay_InputMessage">
    <wsdl:part name="parameters" element="tns:getAssignedAsuntosOfCurrentDay" />
  </wsdl:message>
  <wsdl:message name="IServicio_getAssignedAsuntosOfCurrentDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAssignedAsuntosOfCurrentDayResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_getUnassignedAsuntos_InputMessage">
    <wsdl:part name="parameters" element="tns:getUnassignedAsuntos" />
  </wsdl:message>
  <wsdl:message name="IServicio_getUnassignedAsuntos_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUnassignedAsuntosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_SetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetStatus" />
  </wsdl:message>
  <wsdl:message name="IServicio_IsServiceActive_InputMessage">
    <wsdl:part name="parameters" element="tns:IsServiceActive" />
  </wsdl:message>
  <wsdl:message name="IServicio_IsServiceActive_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsServiceActiveResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_Mensaje_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Mensaje" />
  </wsdl:message>
  <wsdl:message name="IServicio_EnviarAsunto_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:EnviarAsunto" />
  </wsdl:message>
  <wsdl:message name="IServicio_SentAsuntosBatch_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SentAsuntosBatch" />
  </wsdl:message>
  <wsdl:message name="IServicio_AsuntoProcessCompleted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:AsuntoProcessCompleted" />
  </wsdl:message>
  <wsdl:message name="IServicio_BatchAsuntoProcessCompleted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:BatchAsuntoProcessCompleted" />
  </wsdl:message>
  <wsdl:message name="IServicio_ForceDisconnect_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ForceDisconnect" />
  </wsdl:message>
  <wsdl:message name="IServicio_ServiceChangeStatusRequest_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ServiceChangeStatusRequest" />
  </wsdl:message>
  <wsdl:message name="IServicio_RefreshOperatorStatus_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RefreshOperatorStatus" />
  </wsdl:message>
  <wsdl:message name="IServicio_NotifyNewAsuntoFromSolucioname_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyNewAsuntoFromSolucioname" />
  </wsdl:message>
  <wsdl:message name="IServicio_IsActive_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:IsActive" />
  </wsdl:message>
  <wsdl:message name="IServicio_IsActive_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:IsActiveResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IServicio">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Conectar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/Conectar" message="tns:IServicio_Conectar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ConectarResponse" message="tns:IServicio_Conectar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ConnectBackoffice">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ConnectBackoffice" message="tns:IServicio_ConnectBackoffice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ConnectBackofficeResponse" message="tns:IServicio_ConnectBackoffice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="true" name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/Disconnect" message="tns:IServicio_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EjecutarComando">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/EjecutarComando" message="tns:IServicio_EjecutarComando_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AsuntoReceiptCompleted">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/AsuntoReceiptCompleted" message="tns:IServicio_AsuntoReceiptCompleted_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SentAsuntoToOperator">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/SentAsuntoToOperator" message="tns:IServicio_SentAsuntoToOperator_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SentBatchOfAsuntosToOperator">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/SentBatchOfAsuntosToOperator" message="tns:IServicio_SentBatchOfAsuntosToOperator_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="getOperatorList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/getOperatorList" message="tns:IServicio_getOperatorList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/getOperatorListResponse" message="tns:IServicio_getOperatorList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="getListOfOperatorMustWorkToday">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/getListOfOperatorMustWorkToday" message="tns:IServicio_getListOfOperatorMustWorkToday_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/getListOfOperatorMustWorkTodayResponse" message="tns:IServicio_getListOfOperatorMustWorkToday_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="getAssignedAsuntosOfCurrentDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/getAssignedAsuntosOfCurrentDay" message="tns:IServicio_getAssignedAsuntosOfCurrentDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/getAssignedAsuntosOfCurrentDayResponse" message="tns:IServicio_getAssignedAsuntosOfCurrentDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="getUnassignedAsuntos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/getUnassignedAsuntos" message="tns:IServicio_getUnassignedAsuntos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/getUnassignedAsuntosResponse" message="tns:IServicio_getUnassignedAsuntos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/SetStatus" message="tns:IServicio_SetStatus_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="IsServiceActive">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/IsServiceActive" message="tns:IServicio_IsServiceActive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/IsServiceActiveResponse" message="tns:IServicio_IsServiceActive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Mensaje">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/Mensaje" message="tns:IServicio_Mensaje_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EnviarAsunto">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/EnviarAsunto" message="tns:IServicio_EnviarAsunto_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SentAsuntosBatch">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/SentAsuntosBatch" message="tns:IServicio_SentAsuntosBatch_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AsuntoProcessCompleted">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/AsuntoProcessCompleted" message="tns:IServicio_AsuntoProcessCompleted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="BatchAsuntoProcessCompleted">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/BatchAsuntoProcessCompleted" message="tns:IServicio_BatchAsuntoProcessCompleted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ForceDisconnect">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ForceDisconnect" message="tns:IServicio_ForceDisconnect_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ServiceChangeStatusRequest">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ServiceChangeStatusRequest" message="tns:IServicio_ServiceChangeStatusRequest_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RefreshOperatorStatus">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/RefreshOperatorStatus" message="tns:IServicio_RefreshOperatorStatus_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotifyNewAsuntoFromSolucioname">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/NotifyNewAsuntoFromSolucioname" message="tns:IServicio_NotifyNewAsuntoFromSolucioname_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="IsActive">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/IsActive" message="tns:IServicio_IsActive_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/IsActiveResponse" message="tns:IServicio_IsActive_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DualTCPBinding" type="tns:IServicio">
    <wsp:PolicyReference URI="#DualTCPBinding_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Conectar">
      <soap12:operation soapAction="http://tempuri.org/IServicio/Conectar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectBackoffice">
      <soap12:operation soapAction="http://tempuri.org/IServicio/ConnectBackoffice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IServicio/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="EjecutarComando">
      <soap12:operation soapAction="http://tempuri.org/IServicio/EjecutarComando" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AsuntoReceiptCompleted">
      <soap12:operation soapAction="http://tempuri.org/IServicio/AsuntoReceiptCompleted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SentAsuntoToOperator">
      <soap12:operation soapAction="http://tempuri.org/IServicio/SentAsuntoToOperator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SentBatchOfAsuntosToOperator">
      <soap12:operation soapAction="http://tempuri.org/IServicio/SentBatchOfAsuntosToOperator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getOperatorList">
      <soap12:operation soapAction="http://tempuri.org/IServicio/getOperatorList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListOfOperatorMustWorkToday">
      <soap12:operation soapAction="http://tempuri.org/IServicio/getListOfOperatorMustWorkToday" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAssignedAsuntosOfCurrentDay">
      <soap12:operation soapAction="http://tempuri.org/IServicio/getAssignedAsuntosOfCurrentDay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnassignedAsuntos">
      <soap12:operation soapAction="http://tempuri.org/IServicio/getUnassignedAsuntos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetStatus">
      <soap12:operation soapAction="http://tempuri.org/IServicio/SetStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="IsServiceActive">
      <soap12:operation soapAction="http://tempuri.org/IServicio/IsServiceActive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mensaje">
      <soap12:operation soapAction="http://tempuri.org/IServicio/Mensaje" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarAsunto">
      <soap12:operation soapAction="http://tempuri.org/IServicio/EnviarAsunto" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SentAsuntosBatch">
      <soap12:operation soapAction="http://tempuri.org/IServicio/SentAsuntosBatch" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AsuntoProcessCompleted">
      <soap12:operation soapAction="http://tempuri.org/IServicio/AsuntoProcessCompleted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BatchAsuntoProcessCompleted">
      <soap12:operation soapAction="http://tempuri.org/IServicio/BatchAsuntoProcessCompleted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForceDisconnect">
      <soap12:operation soapAction="http://tempuri.org/IServicio/ForceDisconnect" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceChangeStatusRequest">
      <soap12:operation soapAction="http://tempuri.org/IServicio/ServiceChangeStatusRequest" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshOperatorStatus">
      <soap12:operation soapAction="http://tempuri.org/IServicio/RefreshOperatorStatus" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyNewAsuntoFromSolucioname">
      <soap12:operation soapAction="http://tempuri.org/IServicio/NotifyNewAsuntoFromSolucioname" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsActive">
      <soap12:operation soapAction="http://tempuri.org/IServicio/IsActive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicio">
    <wsdl:port name="DualTCPBinding" binding="tns:DualTCPBinding">
      <soap12:address location="net.tcp://localhost:8000/Servicio-Principal/tcp" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8000/Servicio-Principal/tcp</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>