UISolucioname/Service References/SrvSolucioname/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Servicio_Principal" />
  <xs:element name="Conectar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="oper" nillable="true" type="q1:Operador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConectarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConectarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarComando">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="oper" nillable="true" type="q2:Operador" />
        <xs:element minOccurs="0" name="strCommand" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsuntoReceiptCompleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="asuntoToConfirm" nillable="true" type="q3:Asunto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Servicio_Principal" minOccurs="0" name="m" nillable="true" type="q4:Mensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarAsunto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="a" nillable="true" type="q5:Asunto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>