UISolucioname/Service References/SrvSolucioname/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Servicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="DualTCPBinding_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="1200000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Entidades" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Servicio_Principal" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicio_Conectar_InputMessage">
    <wsdl:part name="parameters" element="tns:Conectar" />
  </wsdl:message>
  <wsdl:message name="IServicio_Conectar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConectarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_EjecutarComando_InputMessage">
    <wsdl:part name="parameters" element="tns:EjecutarComando" />
  </wsdl:message>
  <wsdl:message name="IServicio_AsuntoReceiptCompleted_InputMessage">
    <wsdl:part name="parameters" element="tns:AsuntoReceiptCompleted" />
  </wsdl:message>
  <wsdl:message name="IServicio_Mensaje_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Mensaje" />
  </wsdl:message>
  <wsdl:message name="IServicio_EnviarAsunto_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:EnviarAsunto" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IServicio">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Conectar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/Conectar" message="tns:IServicio_Conectar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ConectarResponse" message="tns:IServicio_Conectar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EjecutarComando">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/EjecutarComando" message="tns:IServicio_EjecutarComando_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AsuntoReceiptCompleted">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/AsuntoReceiptCompleted" message="tns:IServicio_AsuntoReceiptCompleted_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Mensaje">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/Mensaje" message="tns:IServicio_Mensaje_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EnviarAsunto">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/EnviarAsunto" message="tns:IServicio_EnviarAsunto_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DualTCPBinding" type="tns:IServicio">
    <wsp:PolicyReference URI="#DualTCPBinding_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Conectar">
      <soap12:operation soapAction="http://tempuri.org/IServicio/Conectar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutarComando">
      <soap12:operation soapAction="http://tempuri.org/IServicio/EjecutarComando" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AsuntoReceiptCompleted">
      <soap12:operation soapAction="http://tempuri.org/IServicio/AsuntoReceiptCompleted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Mensaje">
      <soap12:operation soapAction="http://tempuri.org/IServicio/Mensaje" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarAsunto">
      <soap12:operation soapAction="http://tempuri.org/IServicio/EnviarAsunto" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicio">
    <wsdl:port name="DualTCPBinding" binding="tns:DualTCPBinding">
      <soap12:address location="net.tcp://localhost:8000/Servicio-Principal/tcp" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8000/Servicio-Principal/tcp</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>