UISolucioname/Service References/SrvSolucioname/Servicio_Principal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicio_Principal" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicio_Principal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:complexType name="Mensaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contenido" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="Remitente" nillable="true" type="q1:Operador" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mensaje" nillable="true" type="tns:Mensaje" />
</xs:schema>